body {
	background-image: url(https://images.pexels.com/photos/81148/computer-laptop-keyboard-night-81148.jpeg?cs=srgb&dl=computer-keyboard-laptop-81148.jpg&fm=jpg);
	background-size: cover;
	display: flex;
}


				.mainheading button:hover {
					transform: scale(1.3);
					transition: 1.5s;

					background-color: 	rgb(191, 105, 24);
					cursor: pointer;
				}

.heading {
	position: 	absolute;	
	top:50%;
	left: 	28%;
	text-align: 	center;
}
.heading button {
	background-color: 	rgb(191, 105, 24);
	
	border:none	;
	color: 	white;
}
.heading h2 {
	
	color: 	white;
	font-size: 	3rem;

}
hr {
	color: 	rgb(191, 105, 24);
}
					
					
